<div class="menu-pos w100 z-depth-2 red" id="menu-app">
  <div class="container">
    <div class="menu-search">
      <div class="menu">
        <div class="menu-icon icon-th-menu open-menu-left" data-menu=".menu-left"></div>
        <div class="logo">Tube<span class="hub">Down</span></div>
        <div class="item-menu menu-movil">
          <li><a href="/">MP3</a></li>
          <li><a href="/mp4">MP4</a></li>
        </div>
      </div>
      <!-- <div class="search-input">
        <div class="search-page-elm">
            <div class="set_Search"></div>
            <input type="text" spellcheck="false" id="search-page">
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="menu-left">
  <div class="body-menu grey lighten-5 z-depth-2">
    <div class="menu-list">
      <li><a href="/">MP3</a></li>
      <li><a href="/mp4">MP4</a></li>
    </div>
  </div>
</div>