<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TubeDown | MP3</title>

  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">
  <link rel="stylesheet" href="/lib/faws/style.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Menu -->
  <link rel="stylesheet" href="/lib/css/menu-mz.css">

  <!-- TubeDown -->
  <link rel="stylesheet" href="/css/tube.css">

</head>

<body>

  <!-- menu -->
  <%- include('../include/menu.ejs') %>

  <div class="body">
    <!-- contenedor downloader -->
    <div class="mp3_container elm_center_h">
      <div class="form_downloader">
        <h5 class="title_form">MP3 Downloader</h5>
        <div class="input_container">
          <div class="input_elm z-depth-1">
            <div class="progress_input"></div>
            <input type="text" id="getvideo" spellcheck="false" placeholder="https://www.youtube.com/watch?v=7hgLz6P-hF4&ab_channel=DevSFree">
            <div class="btn_converte btn_mp3 icon-search"><%- include('../include/cargar_music.ejs') %></div>
          </div>
        </div>
        <div class="data_audio">
          <div class="info_view">
            <li><span>Nombre - </span> <span class="name_music">...</span></li>
            <li><span>Tamaño Aproximado - </span> <span class="size_music">...</span></li>
          </div>
        </div>
        <div class="dcp_info">
          Descarga tus canciones favoritas en formato mp3, te recomiendo que nunca uses el enlace del vídeo oficial
        </div>
      </div>
    </div>
  </div>


  <!-- jquery -->
  <script src="/lib/jQuery/jquery.module.js"></script>

  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- pagination -->
  <script src="/lib/paginations/pagination.min.js"></script>

  <!-- saved -->
  <script src="/lib/js/saved.js"></script>

  <!-- util -->
  <script src="/lib/js/codeutilkit.js"></script>

  <!-- TubeDown -->
  <script src="/js/tube.js"></script>

</body>

</html>